setuptools
tensorflow>=2.5.1; (platform_machine=="x86_64" and sys.platform=="linux" and python_version>="3.12")
--extra-index-url https://download.pytorch.org/whl/cu129
torch; python_version>="3.12" and platform_machine=="x86_64" and sys.platform=="linux"
torchvision; python_version>="3.12"
torchaudio; python_version>="3.12"
onnxruntime; python_version>="3.12"
onnxruntime-gpu; python_version>="3.12"
onnx
numpy
sympy
scipy
pandas
icu
Pillow
scikit-image
scikit-learn
opencv-python
pyopengl
pyopencl
pycuda
pygame
pytest
matplotlib
jupyterlab
ultralytics
sentencepiece
datasets
fastapi
uvicorn
transformers
d2l
--extra-index-url https://wheels.vllm.ai/nightly
vllm==0.10.1.1
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
