setuptools
tensorflow==2.18.0; (platform_machine=="x86_64" and sys.platform=="linux" and python_version>="3.12")
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0; python_version=="3.12" and platform_machine=="x86_64" and sys.platform=="linux"
torchvision==0.21.0; python_version=="3.12"
torchaudio==2.6.0; python_version=="3.12"
onnxruntime==1.20.0; python_version=="3.12"
onnxruntime-gpu==1.20.0; python_version=="3.12"
onnx
numpy
sympy
scipy
pandas
icu
scikit-image
scikit-learn
opencv-python
pyopengl
pyopencl
pycuda
pygame
pytest
matplotlib
jupyterlab
ultralytics
sentencepiece
datasets
fastapi
uvicorn
transformers
d2l
--extra-index-url https://wheels.vllm.ai/nightly
vllm==0.7.2
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon