CompileFlags:
  Add:
    - --target=riscv64-unknown-elf
    - -march=rv64gcv_zvfh_zfh
    - -std=c++23
    - -I/workspace/toolchains/riscv-toolchain/include
    - -I/workspace/toolchains/riscv-toolchain/riscv64-unknown-elf/include
